<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351232779785-fmss6268k9ukcvnirl4u1q5kutrvgdu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351232779785-fmss6268k9ukcvnirl4u1q5kutrvgdu8</string>
	<key>API_KEY</key>
	<string>AIzaSyDi_C8u9uEKO6G_wvaH0xJ8QwJK162biEE</string>
	<key>GCM_SENDER_ID</key>
	<string>351232779785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ex.LearnXP</string>
	<key>PROJECT_ID</key>
	<string>learnxp-2be26</string>
	<key>STORAGE_BUCKET</key>
	<string>learnxp-2be26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351232779785:ios:dd7e4fd1c56492b9</string>
	<key>DATABASE_URL</key>
	<string>https://learnxp-2be26.firebaseio.com</string>
</dict>
</plist>